@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100&display=swap');



body {
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    background-color: black;

}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blinking-cursor {
    animation: blink 1s step-start;
}



@media (max-width: 640px) {
    .nav-list {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        color: black;
        flex-direction: column;
        background-color: #19ddd6;
        border: 2px solid white;
        border-top: 0;
        border-radius: 0 0 15px 15px;
        align-items: center;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2000000;
        transition: 0.4s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    }
}